<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title></title>
        <link rel="stylesheet" href="css/base.css">
	</head>
	<body data-ng-app="todoApp">
        <section id="todoapp" data-ng-controller="TodoCtrl"/>
            <header id="header">
                <h1>TodoList</h1>
                <form action="#" id="todo-form" data-ng-submit="addTodo()">
                    <input type="text" id="new-todo" placeholder="Nouvelle tâche" autofocus autocomplete="off"
                           ng-model="newTodo">
                </form>
            </header>

            <section id="main">
                <ul id="todo-list">
                    <li ng-repeat="todo in todos" data-ng-class="{completed : todo.completed}">
                        <div class="view">
                            <input type="checkbox" class="toggle" data-ng-model="todo.completed" data-ng-change="update()">
                            <label>{{todo.name}}</label>
                            <button class="destroy" data-ng-click="removeTodo($index)"></button>
                        </div>
                        <form action="#">
                            <input class="edit" value="Etendre le linge">
                        </form>
                    </li>
                </ul>
            </section>

        <footer id="footer">
            <span id="todo-count"><strong>{{remaining}}</strong> Tâches restantes.</span>
        </footer>


        <script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
